[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
openpyxl = "*"
bs4 = "*"
getresponse = "*"
as = "*"
pd = "*"
pandas = "*"
html5lib = "*"
tabula-py = "*"
lxml = "*"
boxsdk = {extras = ["jwt"], version = "*"}
TableauScraper = "*"

[dev-packages]

[requires]
python_version = "3.9"
